html {

}

:root {
  --purple: #9067c6;
  --magenta: #ff0bca;
  --white: #fff;
  --black: #333;
  --hero-height: 100vh;
  --sticky-header-height: 90px;
}

a {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 25px/1.5 arial, sans-serif;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.notification {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  color: var(--white);
  background: var(--black);
  z-index: 1;
  font-size: 0.75em;
}


.first {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--hero-height);
  background: url(../img/wall.jpg) no-repeat center / cover;
  display: grid;
  place-items: center;
  z-index: 1;
}

section,
.first > * {
  transition: all 0.6s;
}

.first > * {
  grid-area: 1/1;
  padding: 0 20px;
  width: 100%;
}

.first h1 {
  font-size: 2em;
  line-height: 1.15;
  text-align: center;
}

.first .page-header {
  opacity: 0;
  visibility: hidden;
}

.first .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.first .nav .logo-wrapper {
  display: flex;
}

.first .nav ul {
  display: flex;
  list-style: none;
}

.first .nav ul li:not(:last-child) {
  margin-right: 30px;
}

.first .nav ul a {
  font-size: 1.2em;
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s;
}

.first .nav ul a:hover {
  color: var(--yellow);
}

/* second part*/

.second {
  padding: calc(var(--hero-height) + 10vh) 0 10vh 0;
  margin-top: 10vh;
}

.second h2 {
  font-size: 1.5em;
  text-align: center;
}

.second p {
  margin-top: 5vh;
}

.second p:last-child {
  font-size: 0.6em;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.container {
  padding-top: 10%;
  padding-bottom: 20%;
}

.cover{
  width: 50%;
  border: 5px solid rgb(0, 0, 0);
}

.photos1 .photos2 .photos3 {
  margin-left: 5%;
}

.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  overflow-y: hidden;
}

.column {
	display: flex;
	flex-direction: column;
}

.column-reverse {
	transform: translateY(calc(-100% + 100vh));
	flex-direction: column-reverse;
}
@keyframes adjust-position {
  from {
		transform: translateY(calc(-100% + 100vh));
	}
  to {
		transform: translateY(calc(100% - 100vh));
	}
}
.column-reverse {
	animation: adjust-position linear forwards;
	animation-timeline: scroll(root block);
}

/* js */

.is-sticky::before {
  content: "";
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

.is-sticky .first {
  height: var(--sticky-header-height);
  background-color: var(--purple);
}

.is-sticky .first h1 {
  opacity: 0;
  visibility: hidden;
}

.is-sticky .first .page-header {
  opacity: 1;
  visibility: visible;
}

.is-sticky .second {
  padding-top: calc(var(--sticky-header-height) + 10vh);
}


/*media qeury*/

@media (max-width: 900px) {
  .first h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .first h1 {
    font-size: 1.2em;
  }

  .first .nav {
    flex-direction: column;
    justify-content: center;
  }

  .first .nav ul a {
    font-size: 1em;
  }
}
