.layout {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
  }

header {
    background-color: rgb(36, 36, 36);
}

.hero {
    background-color: brown;
}

.section{
    border-radius: 100px;
    margin: 0 auto;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    padding: 10px;
}

  
.section::after,
.section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    bottom: 9px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
  }
  
  .section::before {
    top: -2px;
    transform-origin: left;
  }
  
  .section:hover::after,
  .section:hover::before {
    transform: scaleX(1);
  }

.hero{
    background-image: ;
}